@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background: #F7FAFC;
}

.block1 {
    display: flex;
    flex-direction: row;
    margin-top: 4.8rem;
    font-family: 'Poppins';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 2rem;
}

.dept {
    color: #015BC4;
    margin-right: 1rem;
}

.view {
    margin-left: 1rem;
    color: #9B9B9B;
}

.parentblock {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2.5rem;
    width: 75%;
    background: #F7FAFC;
}

.block2 {
    margin-bottom: 1rem;
    /* background: #FFF; */
    height: 8.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block2_ {

    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding-left: 2rem;
    justify-content: flex-start;
}


.block3 {
    height: 32rem;
    background: #FFF;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.block31 {
    display: flex;
    flex-direction: row;
    width:100%;
    margin-bottom: 2rem;
    /* justify-content: space-between; */
}

.additem {
    width: 15.75rem;
    height: 3.3rem;
    border-radius: 0.625rem;
    background: #015BC4;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right:4.4rem;
}

.textbtn {
    width: 11.75rem;
    height: 1.9rem;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.tablehead {
    background: rgba(1, 91, 196, 0.10);
}

.g1 {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #FFECE7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.insideblock2 {
    display: flex;
    flex-direction: row;
    margin-right: 13rem;
    width: 17.93rem;
    color:#FFF;
    
}

.blocktext {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    justify-content: center;
}

.blocktext p {
    margin: 0;
    font-weight: 500;
    font-size: 0.875rem;
}

.blockimg {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    margin-right: 2rem;
    margin-bottom: 2rem;
    align-self: center;
}

.block4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.3rem;
}

.pagination {
    display: flex;
}

.pagination a {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3125rem 0.25rem;
    margin: 0.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid #DFE3E8;
    background: #FFF;
    text-decoration: none;
    color: #667280;
    font-size: 0.875rem;
    font-weight: 600;
}

.pageindex {
    height: 2rem;
    width: 4.3rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #667280;
    border: 1px solid #DFE3E8;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3.5rem;
}

.basictable {
    overflow: scroll;
    height: 24rem;
}

/* -------------------------------------------------------------- */

.pagelimit{
    position: absolute;
    right: 4.4rem;
    width: 4.3125rem;
}


/* ---------------------------------------------------------------- */

.edit, .delete{
    border:0;
    background-color: #fff;
}